@import "../utilities/variables/*";

.Button {
  cursor: pointer;
  min-width: $gutter * 6;
  border: 2px solid white;
  border-radius: 0;
  padding: 1em 2em;
  background-color: transparent;
  color: white;

  &:active {
    background-color: white;
    color: $color-red;
  }
}