@import 'HoverCard';

.CardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
    @include slope-calc(margin-bottom, 20px 300px, 60px 1200px);

    li {
        margin: 4px;
        max-width: 320px;
        width: calc(100% - 30px);
    }

    .HoverCard-spacer {
        padding-bottom: 51.6%;
    }
}