.HoverCard {
    background: black center / cover;
    display: block;
    position: relative;
    width: 100%;

    &-spacer {
        display: block;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
    }
}