@import "../utilities/variables/layout";
@import "../components/Button";

.home {
  margin: $gutter * 2;
  background-color: rebeccapurple;
  color: white;
}

.Button {
  display: flex;
  justify-content: center;
  background-color: #ffcc33;
  color: black;
}